<div class="animate__animated animate__bounce animate__faster">
  <h2>Ejemplo de suma</h2>
  <p>Ingresar dos numeros</p>
  <hr />

  <div class="row">
    <div class="col">
      <form (ngSubmit)="sumar()" autocomplete="off">
        <label for="numero1">Numero1</label>
        <input
          type="number"
          name="numero1"
          class="form-control"
          [(ngModel)]="numero1"
          placeholder="poner numero1"
        />
        <label for="numero2">Numero2</label>
        <input
          type="number"
          name="numero2"
          class="form-control"
          [(ngModel)]="numero2"
          placeholder="poner numero2"
        />
        <br />
        <button type="submit" class="btn btn-danger">Sumar</button>
      </form>
    </div>
  </div>
  <hr />
  <div *ngIf="resultado" class="alert alert-danger">
    La suma de {{ numero1 }} + {{ numero2 }} es {{ numero1 + numero2 }}
  </div>
</div>
