<div class="row container mt-4">
  <div class="col-4">
    <!--todo esto es el disebar, colocarlo en el sidebar por-->
    <app-sidebar></app-sidebar>
  </div>
  <div class="col">
    <div class="container">
      <img
        width="100%"
        height="120"
        src="https://1.bp.blogspot.com/-z_zeLqXF5L4/WYfsoSCyApI/AAAAAAAAHts/En5nPmFE5DEo75gXPaPd6B9_6ooWLgfLgCPcBGAYYCw/s400/appletenhtml%2Bprinncipal.jpg"
        alt="photo"
      />
      <p class="lead text-center">Angular</p>
    </div>
    <router-outlet> </router-outlet>
  </div>
</div>
