<h2>appleenhtmml</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Ejemplo de suma
  </li>
  <li class="list-group-item" routerLink="paroimpar" routerLinkActive="active">
    Par o Impar
  </li>

  <li class="list-group-item" routerLink="bisiesto" routerLinkActive="active">
    Sacando año bisiesto
  </li>
  <li class="list-group-item" routerLink="potencia" routerLinkActive="active">
    Caculando potencia
  </li>

  <!--Mostra multiplacon de numero introducido con Ciclo for::-->
  <li class="list-group-item" routerLink="for" routerLinkActive="active">
    ngFor y ngIf
  </li>
  <li class="list-group-item" routerLink="crudusers" routerLinkActive="active">
    crud user con backend php mysql
  </li>
</ul>
